 <div class="container-fluid">
  	<div class="row vt">
  		<div class="col-xl-12"></div>
  		<div class="vt1"><img src="assets/images/Capture.PNG"></div>
  	</div><hr>
  	<div class="row">
  		<div class="col-xl-1 side">
  		<div class="icons">	<img src="assets/images/dashboard.PNG" style="margin-top:10px">
  			<img src="assets/images/cue.PNG" style="margin-top:40px" >
  			<img src="assets/images/agency.PNG" style="margin-top:40px" >
  			<img src="assets/images/program.PNG" style="margin-top:40px" >
  			<img src="assets/images/product.PNG" style="margin-top:40px" >

        </div>

  		</div>
  		<div class="col-xl-11 main">
<div class="row">
	<div class="col-xl-12 sheets">
		<div class="d-flex flex-row bd-highlight mb-3">
	<div class="h4 bd-highlight pre"><b>PRE CUE SHEETS</b></div>
	<!-- <div class="pro"><b>PROGRAMME</b><br></div> -->
    <ul class="a">
    	<li><b>PROGRAMME</b></li>
	<li><div class="h4 bd-highlight kul"><b>KULAVILAKU</b></div></li>
	</ul>
	<!-- <div class="cha"><b>CHANNEL</b><br></div> -->
	<ul class="a">
		<li><b>CHANNEL</b></li>
	<li><div class="h4 bd-highlight sun"><b>SUN TV</b></div></li>
</ul>
	<!-- <div class="epi"><b>EPISODE NO:</b><br></div> -->
	<ul class="a">
		<li><b>EPISODE NO.</b></li>
	<li><div class="h4 bd-highlight num"><b>406</b></div></li>
	</ul>
	<!-- <div class="dat"><b>PROGRAMME</b><br></div> -->
	<ul class="a">
		<li><b>
			TELECAST DATE:
		</b></li>
	<li><div class="h4 bd-highlight date"><b>26/11/2019</b></div></li>
	</ul>
	<!-- <div class="but"><button>PRINT</button></div> -->
	<button type="button" class="btn btn-danger but">PRINT</button>


	</div>
  		
  	</div>

  	</div>
  	<div class="row break">
  		<div class="col-xl-4">
<div class="com"><h5><b>ALL COMMERCIAL</b></h5></div>
<div class="card size1" cdkDrag>
  <div class="card-body"><div class="text-primary" >
   <h5> GOKUL SANDAL TALKAM POWDER<br>
    JOTHIKA EPDI IRUNTHA PAREN</h5></div>
    <div style='display:flex;' class='justify-content-between'>
    	<div>spot cancelled email</div>
    		<div >EMAIL 05 10/11/2016</div>

</div>
<div style='display:flex;' class='justify-content-between'>
	<div>Duration <b>15 sec</b></div>
	<div>Rate/10sec <b>44000.00</b></div>
	<div><b>G</b></div>
</div>
  </div>

		
  	</div>


<div class="card size1"cdkDrag >
  <div class="card-body"><div class="text-primary">
   <h5>INDULEKA FEM POSTPREG PLAN IN 2016</h5></div>
    <div style='display:flex;' class='justify-content-between'>
    	<div>spot cancelled email</div>
    		<div >EMAIL 05 10/11/2016</div>

</div>
<div style='display:flex;' class='justify-content-between'>
	<div>Duration <b>15 sec</b></div>
	<div>Rate/10sec <b>44000.00</b></div>
	<div><b>G</b></div>
</div>
  </div>

		
  	</div>




<div class="card size1" cdkDrag>
  <div class="card-body"><div class="text-primary">
   <h5>INDULEKA FEM POSTPREG PLAN IN 2016</h5></div>
    <div style='display:flex;' class='justify-content-between'>
    	<div>spot cancelled email</div>
    		<div >EMAIL 05 10/11/2016</div>

</div>
<div style='display:flex;' class='justify-content-between'>
	<div>Duration <b>15 sec</b></div>
	<div>Rate/10sec <b>44000.00</b></div>
	<div><b>G</b></div>
</div>
  </div>

		
  	</div>

  	<div class="card size1" cdkDrag>
  <div class="card-body"><div class="text-primary">
   <h5>VIM BAR ICE HOCKEY PLAN IN DEC 2016</h5></div>
    <div style='display:flex;' class='justify-content-between'>
    	<div>spot cancelled email</div>
    		<div >EMAIL 05 10/11/2016</div>

</div>
<div style='display:flex;' class='justify-content-between'>
	<div>Duration <b>15 sec</b></div>
	<div>Rate/10sec <b>44000.00</b></div>
	<div><b>G</b></div>
</div>
  </div>

		
  	</div>

	


<div class="card size1" cdkDrag>
  <div class="card-body"><div class="text-primary">
   <h5>RAB POLAR HOCKEY PLAN IN DEC 2016</h5></div>
    <div style='display:flex;' class='justify-content-between'>
    	<div>spot cancelled email</div>
    		<div >EMAIL 05 10/11/2016</div>

</div>
<div style='display:flex;' class='justify-content-between'>
	<div>Duration <b>15 sec</b></div>
	<div>Rate/10sec <b>44000.00</b></div>
	<div><b>G</b></div>
</div>
  </div>

		
  	</div>






  		</div>


  		<div class="col-xl-4">
          <div class="break1"><h5><b>BREAK 1</b></h5></div>
  		<div class="card size1" cdkDrag>
  <div class="card-body"><div class="text-primary">
   <h5>RAB POLAR HOCKEY PLAN IN DEC 2016</h5></div>
    <div style='display:flex;' class='justify-content-between'>
    	<div>spot cancelled email</div>
    		<div >EMAIL 05 10/11/2016</div>

</div>
<div style='display:flex;' class='justify-content-between'>
	<div>Duration <b>15 sec</b></div>
	<div>Rate/10sec <b>44000.00</b></div>
	<div><b>G</b></div>
</div>
  </div>

		
  	</div>
  	</div>
  		<div class="col-xl-4">
  			<div class="break2" cdkDrag><h5><b>BREAK 2</b></h5></div>
  		<div class="card size1">
  <div class="card-body"><div class="text-primary">
   <h5>SURF MATIC LIQUIDS PLAN 2016 </h5></div>
    <div style='display:flex;' class='justify-content-between'>
    	<div>spot cancelled email</div>
    		<div >EMAIL 05 10/11/2016</div>

</div>
<div style='display:flex;' class='justify-content-between'>
	<div>Duration <b>15 sec</b></div>
	<div>Rate/10sec <b>44000.00</b></div>
	<div><b>G</b></div>
</div>
  </div>

		
  	</div>
<div class="card size1" cdkDrag>
  <div class="card-body"><div class="text-primary">
   <h5>RAB POLAR HOCKEY PLAN IN DEC 2016</h5></div>
    <div style='display:flex;' class='justify-content-between'>
    	<div>spot cancelled email</div>
    		<div >EMAIL 05 10/11/2016</div>

</div>
<div style='display:flex;' class='justify-content-between'>
	<div>Duration <b>15 sec</b></div>
	<div>Rate/10sec <b>44000.00</b></div>
	<div><b>G</b></div>
</div>
  </div>

		
  	</div>



  	</div>

		
  	</div>


  	</div>
 

  </div>


</div>
